
/* Inici0 module 4. NETNET */

/* Cod general del proyecto */
*{
    margin: 0;
    padding: 0;
   
}

/* Cod general del proyecto. fondo*/
.netnet__module{
    background: linear-gradient(90deg, #F6C0A5, #F19D96);
}

    .netnet__block{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items: center;  
    }


        .netnet__section--content{
            width:650px;        
        }

            .netnet__title{
                color:#42E2B8;
                padding: 10px;
                width: 140px;
                background: #000;
                box-shadow: -4px 3px  0 0 #fff;
            }

            .netnet__content--text{
                margin: 15px 0px 30px 0px;
            }

            .netnet__button{
                border-radius: 27px;
                border: 1px solid #000;
                padding: 6px;
                width: 150px;
                height: 35px;
                font-weight: bold;
                background: #F6C0A5;
            }

                .netnet__button:hover{
                    box-shadow: 0px 0px  15px -2px blue;
                    background:#42e2b8;
                }
            
                .netnet__imagen--github{
                    width: 13px;
                    margin-right:2px;
                }

        .netnet__section--card{
            width:70%;
            height: 500px;
            margin: 100px auto;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;   
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: linear-gradient(90deg,#F2B5A1, #F4B2AC ); 
        }

            .netnet__card--text{
                font-size: 34px;
                margin: 5% 0px;
                text-align: center;
                width: 80%;
            }

            .netnet__card--author{
                margin: 20px auto;
                color: rgb(122, 103, 103);
                text-shadow: 2px 2px 4px rgb(122, 103, 103);
                font-family: Arial, Helvetica, sans-serif;
            }

/* Modulo 5 - Hablemos */
.hablemos{
    background: linear-gradient(90deg, #F6C0A5, #F19D96);
    width: 100%;
}

.hablemos__content{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
    font-family: 'Oxygen', sans-serif;
}
.hablemos__card {
    width: 543px;
    text-align: center;
}
.hablemos-title{
    color:#42E2B8;
    padding: 10px;
    width: 543px;
    text-align: center;
    background: #000;
    box-shadow: -4px 4px  0 0 #fff;
}
.hablemos{
    padding:24px;
    font-size: 14px;
    background-color: #F9F9F9;
    margin-bottom: 64px;
}
.hablemos__card p{
    padding-top: 20px;
}
.hablemos__form{
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    font-weight: bold;
    padding-top: 20px;
}

.hablemos__form input{
    height: 40px;
    border: 1px solid #E7E7E7;
    outline: none;
    border-radius: 4px;
    margin: 8px 0px 24px 0px;  
}
textarea{
    height: 81px;
    border-radius:4px;
    border: 1px solid #E7E7E7;
    resize: none;
    outline: none;
    margin: 8px 0px 12px 0px;
}
.button-hablemos{
    border-radius: 27px;
    border: 1px solid #000;
    padding: 6px;
    width: 543px;
    height: 35px;
    font-weight: bold;
    background: #42E2B8;
}

/* footer */
.footer-wrapper{
    background: linear-gradient(90deg, #F6C0A5, #F19D96);
    display: inline-flex;
    width: 100%;
}

.footer-wrapper__messageBold{
    font-family: 'Poppins', sans-serif;
    padding: 10px;  
    text-align: center;    
}
.footer-wrapper__message{
    padding: 10px;  
    text-align: center;    
}
.footer-wrapper__message p{
    margin:0;
    font-family: 'Oxygen', sans-serif;
}
.footer-wrapper__media{    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
}
.footer-wrapper__media button{
    border: 1px solid #000;
    padding: 6px;
    height: 35px;
    background: #42E2B8;
}

@media only screen and (max-width: 850px){

    .netnet__section--content{
        padding: 10px;   
    }

    .netnet__section--imagen{
        order:-1;
    }

    .netnet__button{
        width: 100%;
        margin:10px 0px;
    }

    .netnet__section--card{
        font-size:10px;
        height: auto;
        padding: 25px 0px;
        text-align: left;
        
    }

        .netnet__imagen--photo{
            width: 50px;
        }

        .netnet__card--text{
            font-size:14px;
            text-align: left;
        }

        .netnet__card--author{
            text-align: left;
        }

    /* Hablemos */
    .hablemos__content{
        padding: 10px;
    }
    
}


/* Fin Module 4 */



    

